html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

body {
  height: 100vh;
  width: 100vw;
}

#grid {
  display: flex;
  height: 95%;
  width: 95%;
  margin: auto;
  position: relative;
}

.loop-bar {
  position: absolute;
  z-index: 2;
  background: rgba(22, 168, 240, 0.6);
  height: 100%;
  width: 6.25%;
}

ul {
  list-style: none;
  width: 6.25%;
  display: flex;
  flex-direction: column;
}

li {
  height: 6.25%;
  box-sizing: border-box;
  border: 1px solid rgb(242, 242, 242);
}

li:hover {
  cursor: pointer;
  opacity: .8;
}

.hue-0 {
  background: #4e61d8;
}

.hue-1 {
  background: #a542b1;
}

.hue-2 {
  background: #f75839;
}

.hue-3 {
  background: #f7943d;
}

.hue-4 {
  background: #d1c12e;
}

.hue-5 {
  background: #4bb250;
}

.hue-6 {
  background: #4598b6;
}

.unselected {
  background: white;
}
